div {
    width: 800px;
    height: auto;
    margin: auto;
}

body{
    text-align: center;
}

/* Body Box */
.box-1 {
    background-color: #ffa07a;
    background-image: url(html.png);
    background-size: 100px;
    background-position: left;
    background-repeat: repeat-y;
    
}

.box-2 {
    background-color: #add8e6;
    background-image: url(css.png);
    background-size: 100px;
    background-position: right;
    background-repeat: repeat-y;
}

/* Title */
.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.title-size {
    font-size: 25px;
}

.title-color-1 {
    color: #ff4500;
}

.title-color-2 {
    color: #3b84f9;
}

/* Link */
.link {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.link-size {
    font-size: 15px;
}

.link-color {
    color: black;
}

/* Gambar */
img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Paragraf */
#selengkapnya-1 {
    display: none;
}

#selengkapnya-2 {
    display: none;
}

/* Button */
#button-paragraf-1 {
    background-color: #ff4500;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#button-paragraf-2 {
    background-color: #3b84f9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}